<header class="site-header header-bg">
  <div class="slide active" style="background-image:url('/images/slider1.jpg')"></div>
  <div class="slide" style="background-image:url('/images/slider2.jpg')"></div>

  <div class="header-overlay">
    <div class="header-content">
      <h1>Pizzeria Aroma</h1>

      <nav>
        <a href="/">Startseite</a>
        <a href="/menu">Speisekarte</a>
      </nav>
    </div>
  </div>
</header>

<div class="header-divider-italian">
  <div class="green"></div>
  <div class="white"></div>
  <div class="red"></div>
</div>


<script>
  const slides = document.querySelectorAll(".slide");
  let current = 0;

  setInterval(() => {
    slides[current].classList.remove("active");
    current = (current + 1) % slides.length;
    slides[current].classList.add("active");
  }, 5000);
</script>