<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Pizzeria Aroma Peckelsheim – Pizza, Pasta & Salat</title>

  <meta name="description"
        content="Pizzeria Aroma in Peckelsheim. Frische Pizza, Pasta und Salat. Jetzt anrufen oder Route anzeigen. Familienbetrieb." />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css" />
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Restaurant",
      "@id": "https://www.pizzeria-aroma-peckelsheim.de/#restaurant",
      "name": "Pizzeria Aroma Peckelsheim",
      "url": "https://www.pizzeria-aroma-peckelsheim.de",
      "image": "https://www.pizzeria-aroma-peckelsheim.de/images2/fasade.jpg",
      "telephone": "+49-5644-3059965",
      "priceRange": "€€",
      "servesCuisine": ["Pizza", "Pasta", "Salat", "Burger"],
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Lützer Straße 14a",
        "addressLocality": "Peckelsheim",
        "postalCode": "34439",
        "addressCountry": "DE"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "51.6419",
        "longitude": "9.0186"
      },
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Tuesday","Wednesday","Thursday"],
          "opens": "11:00",
          "closes": "14:30"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Tuesday","Wednesday","Thursday"],
          "opens": "17:00",
          "closes": "22:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Friday","Saturday"],
          "opens": "11:00",
          "closes": "23:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Sunday",
          "opens": "11:00",
          "closes": "22:00"
        }
      ],
      "hasMenu": "https://www.pizzeria-aroma-peckelsheim.de/menu",
      "sameAs": [
        "https://www.google.com/maps"
      ]
    }
    </script>
</head>
<body>