<header class="site-header header-bg">
    <div class="header-overlay">
  
      <div class="header-content">
        <h1>Pizzeria Aroma</h1>
  
        <nav>
          <a href="/">Startseite</a>
          <a href="/menu">Speisekarte</a>
        </nav>
      </div>
  
    </div>
  </header>