<section class="page">
    <h2>Impressum</h2>
  
    <p><strong>Angaben gemäß § 5 TMG</strong></p>
  
    <p>
      Pizzeria Aroma<br>
      Inhaber: Shaban Iljazi<br>
      Hauptstraße 12<br>
      34414 Warburg – Peckelsheim
    </p>
  
    <p>
      Telefon: +49 123 4567890<br>
      E-Mail: info@pizzeria-aroma.de
    </p>
  
    <p>
      Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:<br>
      Shaban Iljazi
    </p>
  </section>