<section class="page">
    <h2>Impressum</h2>
  
    <p><strong>Angaben gemäß § 5 TMG</strong></p>
  
    <p>
      Pizzeria Aroma<br>
      Inhaber: Shaban Iljazi<br>
      Lützer str 14a<br>
      34439 Peckelsheim/willebadesen
    </p>
  
    <p>
      Telefon: +49 56443059965<br>
      E-Mail: info@pizzeria-aroma.de
    </p>
  
    <p>
      Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:<br>
      Shaban Iljazi
    </p>
  </section>