<%- include('partials/head') %>
<%- include('partials/header') %>

<main id="main-content" class="page-shell legal-page" tabindex="-1">
  <section class="page" aria-labelledby="kontakt-title">
    <h1 id="kontakt-title">Kontakt</h1>

    <address>
      <p><strong>Pizzeria Aroma</strong></p>
      <p>
        Lützer Str 14a<br />
        34439 Willebadessen - Peckelsheim
      </p>
      <p>
        Telefon: <a href="tel:+4956443059965">+49 5644 30 59 965</a>
      </p>
      <p>
        E-Mail:
        <a href="mailto:info@pizzeria-aroma.de">info@pizzeria-aroma.de</a>
      </p>
    </address>
  </section>
</main>

<%- include('partials/footer') %>
