<section class="page">
    <h2>Kontakt</h2>
  
    <p><strong>Pizzeria Aroma</strong></p>
    <p>
      Lützer Str 14a<br>
      34439 Willebadesen – Peckelsheim
    </p>
  
    <p>
      Telefon: <a href="tel:+4956443059965">+49 5644 30 59 965</a>
    </p>
  
    <p>
      E-Mail: <a href="mailto:info@pizzeria-aroma.de">
        info@pizzeria-aroma.de
      </a>
    </p>
  </section>